/* @import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
    /* Full palette: https://flatuicolors.com/palette/us */
    --p-white: #ffffff;
    --p-gray1: #2d3436;
    --p-gray2: #636e72;
    --p-gray3: #b2bec3;
    --p-gray4: #dfe6e9;
    --p-pink1: #e84393;
    --p-pink2: #fd79a8;
    --p-red1: #a12c2c;
    --p-red2: #ff7675;
    --p-orange1: #e17055;
    --p-orange2: #fab1a0;
    --p-yellow1: #fdcb6e;
    --p-yellow2: #ffeaa7;
    --p-purple1: #6c5ce7;
    --p-purple2: #a29bfe;
    --p-blue1: #0984e3;
    --p-blue2: #74b9ff;
    --p-cyan1: #00cec9;
    --p-cyan2: #81ecec;
    --p-green1: #00b894;
    --p-green2: #55efc4;

    /* The colors from the above palette that I'm using */
    --c-accent1: var(--p-red1);
    --c-accent2: var(--p-green1);
    --c-accent3: var(--p-orange1);
    --c-dark: var(--p-gray1);
    --c-medium: var(--p-gray3);
    --c-white: var(--p-white);
    --c-light: var(--p-gray4);
    --c-shadow: rgba(40, 40, 40, 0.6);

    /* I've found that defining standard measurements is handy */
    --gap: 15px;
    --corner: 5px;

    color: var(--c-white);
    font-family: Raleway;
    font-size: max(24px);
}

* {
    margin: 0;
}

body {
    /* background: url('./pablo-pacheco-D3Mag4BKqns-unsplash.jpg') no-repeat; */
    background: url('./ivan-torres-MQUqbmszGGM-unsplash.jpg') no-repeat;
    background-size: cover;

    margin: 0;
    padding: 0;
    text-align: center;

    display: grid;
}

header {
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header>img {
    height: 80%;
}

nav {
    height: 20%;
    padding-top: var(--gap);
    display: flex;
    justify-content: center;
    gap: calc(var(--gap) * 3);
}
nav>a {
    color: var(--c-white);
    font-weight: 700;
}
nav>a.selected{
    color: var(--c-accent1);
    text-shadow: 1px 1px 3px black;
}

.hero {
    background-color: var(--c-shadow);
    text-align: center;
    height: 60vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero > h1 {
    font-size: 8vmin;
}
.hero > h2 {
    font-size: max(2.5vmin, 1rem);
}

.socials {
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.socials,
.socials>a {
    color: var(--c-white);
    font-weight: 700;
    background-color: var(--c-dark);
}

a {
    text-decoration: none;
    color: var(--c-dark);
}

.about {
    padding: min(2vh, var(--gap)) 10vw;
    background-color: var(--c-white);
    color: var(--c-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.about>h2 {
    font-size: 4vmin;
    color: var(--c-accent1);
}
.about>p {
    padding-top: var(--gap);
}
